  /* audiowide-regular - latin */

  body {
      font: 400 1.5em Audiowide, Montserrat, Lato, sans-serif;
      font-family: Audiowide, Montserrat, Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }

  a {
    color: black;
    text-decoration: none;
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.75em;
    color: white;
  }

  h2 {
      font-size: 1.5em;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 5%;
  }

  h3 {
    font-family: Montserrat, Lato, sans-serif;
    font-size: 1.5em;
    color: black;
  }

  h4 {
      font-size: 1.5em;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 2%;
  }

  strong {
    font-family: Audiowide;
    height: 346px;
    width: 346px;
  }

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 16px;
  }

  li a:hover, .dropdown:hover .dropbtn {
      background-color: gray;
  }

  li.dropdown {
      display: inline-block;
      float: right;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      z-index: 1;
      right: 0;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 40px;
    margin-top: -20px;
    margin-left: -25px;
  }

  .text-header-1 {
    vertical-align: text-top;
    font-size: 2em;
    color: white;
  }

  .text-header-2 {
    font-family: Montserrat, Lato, sans-serif;
    font-size: 1.25em;
    color: white;
  }

  .font-custom {
    font-family: Audiowide;
  }

  .header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
  }

  .container-fluid {
      padding: 20px 15px;
  }

  .bg-grey {
      background-color: #f6f6f6;
  }

  .bg-green {
      background-color: #00b300;
  }

  .bg-silver {
      background-color: #d9d9d9;
  }

  .bg-black {
      background-color: black;
  }

  .bg-white {
      color: white;
  }

  .bg-yellow {
      background-color: #e6e600;
  }

  .glyph-orange {
      color: #805300;
  }

  .glyph-black {
      color: black;
  }

  .glyph-green {
      color: green;
  }

  .logo-medium {
      color: black;
      font-size: 6em;
  }

  .sustainability-text {
    font-size: 1.25em;
    color: white;
    text-align: justify;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: grey;
  }

  .carousel-indicators li {
      border-color: grey;
  }

  .carousel-indicators li.active {
      background-color: black;
  }

  .item h4 {
      font-size: 1em;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }

  .item span {
      font-style: normal;
  }

  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 0.55em !important;
      line-height: 1.42857143 !important;
      letter-spacing: 0.10em;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      float: right;
  }

  .linear-grad {
      background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(-90deg, white, grey); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(-90deg, white, grey); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(-90deg, white, grey); /* For Firefox 3.6 to 15 */
      background: linear-gradient(-90deg, white, grey); /* Standard syntax (must be last) */
  }

  .linear-grad-products {
      background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(-45deg, white, white, silver, grey); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(-45deg, white, white, silver, grey); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(-45deg, white, white, silver, grey); /* For Firefox 3.6 to 15 */
      background: linear-gradient(-45deg, white, white, silver, grey); /* Standard syntax (must be last) */
  }

  .navbar li a, .navbar .navbar-brand {
      color: black !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: white !important;
      background-color: black !important;
  }

  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #F9E32D !important;
  }

  #nav-categ {
    white-space: nowrap;
    min-height: 48px;
    padding: 0.75em;
  }

  #nav-categ ul {
    padding:0px;
    margin:0px;
    list-style:none;
  }

  #nav-categ ul li {
    display: inline;
  }

  #nav-categ ul li a{
    display: inline-block;
    text-decoration: none;
  }

  #nav-categ .left-bar h2, .EstListCat li {
    border-bottom: 0px;
  } 

  .itens-cat-nav ul li:hover {
    background-color: none !important;
  }

  a:visited {
    color: black;
  }

  .search {
    vertical-align: 100%; 
    width: 100%; 
    position: relative; 
    align-items: center; 
    justify-content: center; 
    display: flex; 
    min-width: 45px;
  }

  .item-custom ul li a {
    font-size: 1em;
    letter-spacing: 0.15em;
    color: black;
  }

  .item-custom li{
    text-transform: uppercase;
  }

  .contact-info {
    font-family: Montserrat, Lato, sans-serif;
    color: black;
  }

  footer .glyphicon {
      font-size: 2em;
      margin-bottom: 0.1%;
  }

  .info {
    font-family: Montserrat, Lato, sans-serif;
    font-size: 0.75em;
  }

  .info h4{
    font-family: AudioWide;
  }

  .specifications {
    font-family: Lato, sans-serif;
    text-align: left;
    font-size: 0.75em;
    color: black;
    line-height: 1.5em;
    margin: 1em;
  }

  .specifications-obs {
    font-family: Lato, sans-serif;
    text-align: left;
    font-size: 0.55em;
    color: black;
  }

  .price {
    font-family: Montserrat, Lato, sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: black;
  }

  .faq {
    color: black;
  }

  .faq p{
    font-family: Montserrat, Lato, sans-serif;
    color: #818181;
  }

  .faq a:link {
    text-decoration: none;
  }

  .faq a:visited {
      text-decoration: none;
  }

  .specifications-obs a {
    color: white;
  } 

  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  #idBadgeAllFC {
    display:none;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @media screen and (max-width: 1000px) {
    .nav  {float: none;}
    .navbar  {float: none;}
  }

  /*rotação de imagens*/
  .img-rotate img {
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

  }

  .img-rotate img:hover {
      -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  }

  /*zoom de imagens*/
  .img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
  }

  .img-hover img:hover {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
      -moz-transform:scale(1.10); /* Firefox */
      -ms-transform:scale(1.10); /* IE 9 */
      -o-transform:translatZ(0) scale(1.10); /* Opera */
      transform:translatZ(0) scale(1.10);
  } 

.contatos-info a:hover {
  text-decoration: none;
}

.qrcode {
  margin: auto;
  width: 50%
}

/*Side menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 16;
    top: 0;
    right: 0;
    background-color: #e6e6e6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 0.75em;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #white;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#myPage {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 0.85em;}
}

#mySidenav a {
  text-decoration: none;
}

#mySidenav a:hover {
  background-color: #d9d9d9;
}

.newsletters {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('https://www.rumo.com.br/lojas/00033937/images/section-newsletters-min.jpg');
  text-align: center;
  padding: 5%;
}

.btnSubNews{
  font-family: Audiowide, Lato, sans-serif; padding: 8px; font-size: 15px; color: black; background: yellow; border: 0; box-shadow: 0 0 5px 0 #ccc; text-transform: capitalize; outline-color: transparent; cursor: pointer; text-decoration: none; margin: 1.1111rem 0;
}

.msg-news {
  font-family: Audiowide, Lato, sans-serif; color:white; font-size: 1.5em; letter-spacing: 0.1em;
}